/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #282828FF; //#282828
    background-alt: #353535FF; //#353535
    foreground:     #EBDBB2FF; //#EBDBB2
	active:         #83A598FF; //#83A598
	selected:       #B8BB26FF; //#B8BB26
    urgent:         #FB4934FF; //#FB4934
}
